/*
 * */

 body {
	margin: 0;
	padding: 16px;
	background-color: #111;
	color: #eee;
	font-size: 16pt;
	font-family: monospace;
}

@media screen and (min-width: 800px) {
    body {
        font-size: 32pt;
    }
}

h1 {
    font-size: 4rem;
}

img {
    max-width: 100%;
}
